:root {
    --primary: #8B4513;
    --secondary: #F5F5DC;
    --tertiary: #6B8E23;
    --accent: #87CEEB;
    --grey: #2F4F4F;
}

body {
    background-color: var(--secondary) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}
.bg-secondary {
    background-color: var(--secondary) !important;
}
.bg-tertiary {
    background-color: var(--tertiary) !important;
}
.bg-accent {
    background-color: var(--accent) !important;
}
.bg-grey {
    background-color: var(--grey) !important;
}

.text-primary {
    color: var(--primary) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-tertiary {
    color: var(--tertiary) !important;
}
.text-accent {
    color: var(--accent) !important;
}
.text-grey {
    color: var(--grey) !important;
}


.cafe-card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}
@media (min-width: 992px) {
    .cafe-card-img-top {
        height: 15vw;
}
}

.review-card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
@media (min-width: 992px) {
    .review-card-img-top {
        height: 10vw;
}
}


.star {
    display: inline-block;
    position: relative;
}

.star:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
}


.review-title {
    font-size: calc(1.25 * var(--bs-body-font-size));
    font-weight: bold;
}

.review-rating {
    font-weight: 600;
    color: goldenrod;
}

.review-user {
    font-weight: 600;
    color: var(--grey);
}

.review-date {
    font-weight: 600;
    font-style: italic;
    color: var(--grey);
}

.review-content {

}


#map {
    height: 80vw;
}
@media (min-width: 992px) {
    #map {
        height: 30vw;
}
}

#place-autocomplete-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;
}

gmp-place-autocomplete {
    width: 300px;
}

#infowindow-content .title {
    font-weight: bold;
}

#map #infowindow-content {
    display: inline;
}

