{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block title %}All cafes{% endblock title %}

{% block extracss %}{% endblock extracss %}

{% block content %}
<div class="container overflow-hidden">
    <div class="row">
        <form method="get" class="mb-3">
            <div class="input-group">
                {{ form.as_p }}
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="row g-3 px-3 px-lg-0">
        {% for cafe in cafes %}
        <div class="col-lg-4">
            <div class="card m-3">
                <a href="{% url 'cafes:cafe_detail' id=cafe.google_place_id %}"><img src="{% static 'img/google/' %}{{ cafe.google_place_id }}.jpg" class="cafe-card-img-top" alt="Photo of {{ cafe.name }}"></a>
                <div class="card-body bg-primary text-light">
                    <h4 class="card-title">{{ cafe.name }}</h4>
                    <div class="row">
                        <div class="col review-rating">
                            {% for star in cafe.rating|star %}
                                {% if star == 'f' %}
                                <span class="fa-solid fa-star"></span>
                                {% elif star == 'h' %}
                                <span class="fa-regular fa-star star"></span>
                                {% elif star == 'e' %}
                                <span class="fa-regular fa-star"></span>
                                {% endif %}
                            {% endfor %}
                            <span class="text-light" style="font-weight: 600;">- {{ cafe.rating|stringformat:'.1f' }} <span>({{ cafe.number_of_ratings }} ratings)</span></span>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for review in cafe.reviews.all|slice:":3" %}
                    <li class="list-group-item">
                        <span class="review-title">{{ review.title }}</span>
                        <p>
                            <span class="review-rating">
                            {% for star in review.rating.rating|star %}
                                {% if star == 'f' %}
                                <span class="fa-solid fa-star"></span>
                                {% elif star == 'h' %}
                                <span class="fa-regular fa-star star"></span>
                                {% elif star == 'e' %}
                                <span class="fa-regular fa-star"></span>
                                {% endif %}
                            {% endfor %}
                            </span>
                            <span class="review-user">- {{ review.user }}</span>
                            <span class="review-date">({{ review.rating.date|custom_timesince }})</span>
                        </p>
                        <p class="review-content">{{ review.content }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block extrascripts %}{% endblock extrascripts %}

