{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block extracss %}{% endblock extracss %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="p-4 p-lg-5">
                <h2 class="mb-4">Welcome to Coffee, Cake & Cycling!</h2>
            </div>
        </div>
        <div class="col-md-8 p-4 p-md-5">
            <div class="row justify-content-center py-md-5">
                <div class="col-10 col-lg-9">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="email">{{ form.username.label }}</label>
                                    {{ form.username }}
                                    <span class="text-danger">{{ form.errors.username }}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="password">{{ form.password.label }}</label>
                                    {{ form.password }}
                                    <span class="text-danger">{{ form.errors.password }}</span>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-10 col-lg-9">
                        <a href="{% url 'users:register' %}">Don't have an account yet? Sign up here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}{% endblock extrascripts %}